:root {
  --dark: #262E38;
  --veryDark: #131518;
  --orange: #FC7614;
  --lightGrey: #969FAD;
  --grey: #7C8798;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

.before, .after {
  background-color: var(--veryDark);
  display: flex;
  justify-content: center;
  color: white;
  min-height: 100vh;
  align-items: center;
}

.selection {
  width: 55%;
  margin: 0 auto;
  color: var(--orange);
  border-radius: 25px;
  background-color: #262E38;
}

.selectionText {
  display: block;
  text-align: center;
  padding: 2%;
}

.none {
  display: none;
}


#card, #card2 {
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  display: inline-block;
  width: 23.75rem;
  margin: 9% auto 9% auto;
  border-radius: 1.875rem;
  padding: 2rem;
}

.star {
  padding: 1rem;
  background-color: var(--dark);
  border-radius: 50%;
}

.header1, .header2 {
  margin-top: 1.875rem;
  margin-bottom: 0.4375rem;
  font-size: 1.75rem;
  font-weight: 700;
}

.text1, .text2 {
  color: var(--lightGrey);
  font-size: 1.07rem;
  line-height: 1.5;
}

.text2, .header2 {
  text-align: center;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: var(--dark);
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  color: var(--lightGrey);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--lightGrey);
  color: white;
  transition: 0.5s;
}

.btn:focus {
  background-color: var(--orange);
  color: white;
}

.submit {
  width: 100%;
  border-radius: 1.4rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--orange);
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 2rem;
}

.submit:hover {
  color: var(--orange);
  background-color: white;
  transition: 0.5s;
}

.img-thanks {
  display: block;
  margin: 1rem auto 2rem auto;
}

#after #card2 div.selection {
  align-self: center;
  margin: 1rem auto 1rem auto;
  width: 12rem;
  background-color: var(--dark);
  color: var(--orange);
  text-align: center;
  border-radius: 2rem;
  padding: 4px 20px;
}

@media (max-width: 500px) {
  #card, #card2 {
    width: 18rem;
    margin: 9% auto 9% auto;
    padding: 1rem;
  }
  .text1, .text2 {
    font-size: 0.9rem;
  }
  .text2 {
    padding-bottom: 2rem;
  }
  .header1, .header2 {
    font-size: 1.5rem;
  }
  .selection {
    width: 75%;
  }
}
